[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third-party/doctest"]
	path = third-party/doctest
	url = git@github.com:doctest/doctest.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third-party/expected"]
	path = third-party/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "third-party/SPIRV-Reflect"]
	path = third-party/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/implot"]
	path = third-party/implot
	url = git@github.com:epezent/implot.git
[submodule "third-party/ImGuizmo"]
	path = third-party/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = git@github.com:assimp/assimp.git
[submodule "third-party/meshoptimizer"]
	path = third-party/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
